body {
    background-image: url(Images/sfondo.jpg);
    background-size:cover;
    margin: 0;
}
h1{
    font-family: Trebuchet MS, sans-serif;
    font-weight: 500;
    color: rgb(255,204,0);
    font-size: 50px;
    text-align: left;
    margin-top: 6%;
    margin-left: 6%;
    font-style: italic;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,102,0.15);
}

.other {float: right;}
.barra {float: right}
.event {float: left;}

.other a {
    display: block;
    color: rgb(255,204,0);
    text-align: center;
    padding: 27px 14px;
    font-size: 18px;
    text-decoration: none;
    font-family: Trebuchet MS, sans-serif;
}
.barra a {
    display: block;
    color: rgb(255,204,0);
    text-align: center;
    padding: 27px 12px;
    font-size: 18px;
    text-decoration: none;
    font-family: Trebuchet MS, sans-serif;
}

.event a {
    display: block;
    padding: 14px 16px;
}


#menu .other a:hover {color: white;}



#canvas{

    display: block;
    list-style-type: none;
    margin-top: 3%;
    padding: 0;
    overflow: hidden;
    width: 66%;
}



#imgCanv{
    display: block;
    text-decoration: none;
    float: left;
}
#dataCanv{
    display: block;

}


#data{
    display: block;
    font-size: 30px;
    color: white;
    float: left;
    font-family: Trebuchet MS, sans-serif;
    list-style-type: none;
}

.datalist{
    margin-top: 4%;
}


#modifica{
    margin-top: 10%;
    margin-left:5%;
}





