
h1{
    font-family: Trebuchet MS, sans-serif;
    font-weight: 500;
    color: rgb(255,204,0);
    font-size: 50px;
    text-align: left;
    margin-top: 5%;
    margin-left: 6%;
    font-style: italic;
}

body { 
    background-image: url(Images/sfondo.jpg);
    background-size:cover;
    margin: 0;
}



.container{
    width: 100%;
    align-content: center;
}

#wrapper{
    
    margin-top: 5%;
    height: 300px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 36%;
    margin-left: 32%;
    margin-right: 32%;
}

.slider{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slider li img{
    
    height: 300px;
    width: 100%;
}

.navigation {
    
    text-align: center;
    margin-top: 2%;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;

    
}


.navigation a{
    
    margin: 1%;
    display: inline-block;
    width:20px;
    height:20px;
    text-indent:-10000px;
    background: rgb(255,204,0);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    
} 


.footer {
    text-align: right;
    color: white;
    font-size: 70%;
    bottom: 0;
    position: fixed;
    right: 0;
}


#link{
    text-align: right;
    margin-top: 5%;
    margin-right: 6%;
}

#link a{
    font-family: Trebuchet MS, sans-serif;
    color: rgb(255,204,0);
    font-style: italic;
}
