/**
 * CSS di base
 */
#container {
	margin: 30px;
    align-content: center;
}


h1{
    font-family: Trebuchet MS, sans-serif;
    font-weight: 500;
    color: rgb(255,204,0);
    font-size: 50px;
    text-align: left;
    margin-top: 5%;
    margin-left: 6%;
    font-style: italic;
}

body { 
    background-image: url(Images/sfondo.jpg);
    background-size:cover;
    margin: 0;
}


#wrapper {
	border: 1px solid #ccc;
	height: 320px;
	
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	width: 480px;
    margin: 33%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.slider {
	position: absolute;
	top: 0;
	left: 0;
	height: 320px;
	width: 1920px;
}
	.slider li {
		float: left;
		height: 320px;
		width: 480px;
	}
	.slider img {
		display: block;
	}

/* link di navigazione */
.navigation {
	overflow: hidden;
	width: 100%;
    margin: 40%;
    margin-top: 3%;
    margin-bottom: 3%;
    

}
.navigation a {
	background: #ccc;
	color: #333;
	font: bold 14px arial, helvetica, sans-serif;
	display: block;
	float: left;
	padding: 4px 10px;
	margin-right: 5px;
	text-decoration: none;
}
.navigation a:active {
	background-color: #999;	
}

.js-shown {
	display: none !important;
}


.footer {
    text-align: right;
    color: white;
    font-size: 70%;
    bottom: 0;
    position: fixed;
    right: 0;
}


#link{
    text-align: right;
    margin-top: 5%;
    margin-right: 6%;
}

#link a{
    font-family: Trebuchet MS, sans-serif;
    color: rgb(255,204,0);
    font-style: italic;
}





/**
 * livello 2
 */

.hasjs .js-shown {
	display: block !important;
}
.hasjs #wrapper {
	overflow: hidden;
}

	
/**
 * Livello 3: CSS3
 */
.hasjs .slider {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: left 0.5s ease-out;
	-o-transition: left 0.5s ease-out;
	transition: left 0.5s ease-out;
}
