body {
    background-image: url(Images/sfondo.jpg);
    background-size:cover;
    margin: 0;
}
#head {
    font-family: Trebuchet MS, sans-serif;
    font-weight: 100;
    color: rgb(255, 204, 0);
    font-size: 30px;
    text-align: left;
    margin-top: 5%;
    margin-left: 20%;
    font-style: italic;

}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,102,0.15);
}

.other {float: right;}
.barra {float: right}
.event {float: left;}

.other a {
    display: block;
    color: rgb(255,204,0);
    text-align: center;
    padding: 27px 14px;
    font-size: 18px;
    text-decoration: none;
    font-family: Trebuchet MS, sans-serif;
}
.barra a {
    display: block;
    color: rgb(255,204,0);
    text-align: center;
    padding: 27px 12px;
    font-size: 18px;
    text-decoration: none;
    font-family: Trebuchet MS, sans-serif;
}

.event a {
    display: block;
    padding: 14px 16px;
}


#menu .other a:hover {color: white;}

.modifiche{

    border-radius: 0;
    border: 2px white solid;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 3%;
    text-align: center;
}

.box{
    
margin-top: 3%;    
 width: 85%;
text-align: left;
    margin-left: 5%;
  color:white;  
    font-family: Trebuchet MS, sans-serif;
    
    
}



#name {
    
    
    
    margin-top: 1%;
    height: 40px;
    width: 85%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 1em;
}

#surname {
    
 
    margin-top: 1%;
    height: 40px;
    width: 85%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 1em;
    
}

#email{


    margin-top: 1%;
    height: 40px;
    width: 85%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 1em;
}

#city{
        margin-top: 1%;
    height: 40px;
    width: 85%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 1em;
    
}


#pass{
    color: yellow;
    text-decoration: none;
    margin-top: 20%;
}

#title {
    text-align: left;
    margin-left: 5%;
    margin-top: 6%;
    color: white;
    font-family: Trebuchet MS, sans-serif;
    font-weight: 200;
    margin-bottom: 1%;
    font-size:30px;
}




#modifyaccount {

    margin-top: 8%;
    margin-bottom: 6%;
    height: 40px;
    width: 85%;
    border: 1px solid black;
    padding: 0 10px;
    color: black;
    font-family: Trebuchet MS, sans-serif;
    border-radius: 0;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top , rgb(239,255,0), rgb(255,204,0) 40%);

}






