h1{
    font-family: Trebuchet MS, sans-serif;
    font-weight: 500;
    color: rgb(255,204,0);
    font-size: 50px;
    text-align: left;
    margin-top: 3%;
    margin-left: 3%;
    font-style: italic;
}


#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,102,0.15);
}

.other {float: right;}
.barra {float: right}
.event {float: left;}

.other a {
    display: block;
    color: rgb(255,204,0);
    text-align: center;
    padding: 27px 14px;
    font-size: 18px;
    text-decoration: none;
    font-family: Trebuchet MS, sans-serif;
}
.barra a {
    display: block;
    color: rgb(255,204,0);
    text-align: center;
    padding: 27px 12px;
    font-size: 18px;
    text-decoration: none;
    font-family: Trebuchet MS, sans-serif;
}

.event a {
    display: block;
    padding: 14px 16px;
}


#menu .other a:hover {color: white;}






body {
    background-image: url(Images/sfondo.jpg);
    background-size:cover;
    margin: 0;
}


#box{
    
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    margin-top: 4%;
}

#googleMap{
    
    
    float:left;
    width:40%;
    height:400px;
    margin-left: 0%;

}


#dataEvent{
    
    float: right;
    width:45%;
    height:400px;
    margin-right: 4%;
    font-family: Trebuchet MS, sans-serif;
       
}




#dataEvent #nome{
    
    font-size: 35px;
    font-style: italic;
    color: white;
    
}
#dataEvent #testo{
    
    font-size: 40px;
    font-style: italic;
    color: yellow;
    
}

#dataEvent #descrizione{
    
    font-size: 25px;
    color: white;
}

#dataEvent #segnalazione{
    font-size: 15px;
    text-align: right;
    font-style: italic;
    color: white;
}

#dataEvent #giorno{
   
    color: white;
    text-align: left;
}

#dataEvent #ora{
    
    color: white;
    text-align: left;
}

#dataEvent #segnUser{
    
   color: white;
    
}

#dataEvent #message{
    
   color: yellow;
    text-decoration: none;
    
}








