#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,102,0.15);
}

.other {float: right;}
.barra {float: right}
.event {float: left;}

.other a {
    display: block;
    color: rgb(255,204,0);
    text-align: center;
    padding: 27px 14px;
    font-size: 18px;
    text-decoration: none;
    font-family: Trebuchet MS, sans-serif;
}
.barra a {
    display: block;
    color: rgb(255,204,0);
    text-align: center;
    padding: 27px 12px;
    font-size: 18px;
    text-decoration: none;
    font-family: Trebuchet MS, sans-serif;
}

.event a {
    display: block;
    padding: 14px 16px;
}


#menu .other a:hover {color: white;}






body {
    background-image: url(Images/sfondo.jpg);
    background-size:cover;
    margin: 0;
}



#googleMap{
    
    
    width:98%;
    height:470px;
    margin: 1%;

}

#head{
   list-style-type: none;
    margin-left: 1%;
    margin-top: 0%;
    padding: 0%;
    margin-right: 1%;
}


#titolone{
  float: left;  
    font-family: Trebuchet MS, sans-serif;
    font-weight: 500;
    color: rgb(255,204,0);
    font-size: 50px;
    margin: 0%;
    font-style: italic;
    
}

#descrizione{
    word-wrap: break-word;
    max-width: 200px;
}

#giorno{
    float: right;
}

#user{
    float:right;
}


.dropdown {
    width: 15%;
    float: right;
    margin-top: 1.5%;
}



.dropbtn {
    background-color: white;
    color: black;
    padding: 4px;
    margin-top: 1%;
    font-size: 16px;
    border: none;
    cursor:alias;
    width: 100%;
    
}




.dropdown-content {
    display: none;
    position: absolute;
    margin-left: 1%;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p {
    color: black;
    font-size: 16px;
    margin: 0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content p:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f1f1f1;
}









