

body {
    background-image: url(Images/sfondo.jpg);
    background-size:cover;
    margin: 0;
}


#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,102,0.15);
}

.other {float: right;}
.barra {float: right}
.event {float: left;}

.other a {
    display: block;
    color: rgb(255,204,0);
    text-align: center;
    padding: 27px 14px;
    font-size: 18px;
    text-decoration: none;
    font-family: Trebuchet MS, sans-serif;
}
.barra a {
    display: block;
    color: rgb(255,204,0);
    text-align: center;
    padding: 27px 12px;
    font-size: 18px;
    text-decoration: none;
    font-family: Trebuchet MS, sans-serif;
}

.event a {
    display: block;
    padding: 14px 16px;
}


#menu .other a:hover {color: white;}



#box{
    
    margin-top: 2%;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
}

#googleMap{
    
    
    float:left;
    width:40%;
    height:470px;
    margin-left: 0%;

}


#dataEvent{
    
    float: right;
    width:45%;
    height:470px;
    margin-right: 4%;
    font-family: Trebuchet MS, sans-serif;
    color: white;
    align-content: center;
    text-align: center;
}




#dataEvent #tit{
    
    font-size: 40px;
    font-style: italic;
    font-family: Trebuchet MS, sans-serif;
    font-weight: 500;
    margin: 0%;
    color: rgb(255,204,0);
    
}

#dataEvent #nome{
    
    margin-top: 0%;
    width: 100%;
    font-size: 20px;
    font-style: italic;
    color: black;
    
}


#dataEvent #descrizione{
    
    margin-top: 0%;
    width: 100%;
    color: black;
    font-size: 20px;
    font-family: Trebuchet MS, sans-serif;
    height: 35%;
}

.labels{    
    text-align: left;
    margin-top: 1%;
    font-size: 17px;
    
}

#quando{
 margin-top: 1%;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    padding: 0; 
    
}


#giorno{
   float:left;
    width: 47%;
    padding: 0;
    color: white;
    font-size: 17px;
    font-family: Trebuchet MS, sans-serif;
}

#ora{
    float: right;
    width: 50%;
    padding: 0;
    color: white;
    font-size: 17px;
    font-family: Trebuchet MS, sans-serif;
}



#pos{
    
    
    margin-top: 1%;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}


#dataEvent #lat{
    
    float:left;
    width: 47%;
    padding: 0;
    color: black;
    font-size: 20px;
    font-family: Trebuchet MS, sans-serif;
}

#dataEvent #long{
    
    float: right;
    width: 50%;
    padding: 0;
    color: black;
    font-size: 20px;
    font-family: Trebuchet MS, sans-serif;
}

#address{
    
    width: 70%;
    
}



#accesso{
    
    margin-top: 2%;
    text-align: center;
    height: 40px;
    width: 50%;
    border: 1px solid black;
    padding: 0 10px;
    color: black;
    font-family: Trebuchet MS, sans-serif;
    border-radius: 2px;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top , rgb(239,255,0), rgb(255,204,0) 40%);
}





.dropbtn {
    background-color: white;
    color: black;
    padding: 4px;
    font-size: 16px;
    border: none;
    cursor:alias;
}

.dropdown {
    width: 40%;
    align-content: center;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p {
    color: black;
    font-size: 16px;
    margin: 0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content p:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f1f1f1;
}

















