h1{
    font-family: Trebuchet MS, sans-serif;
    font-weight: 500;
    color: rgb(255,204,0);
    font-size: 50px;
    text-align: left;
    margin-top: 6%;
    margin-left: 6%;
    font-style: italic;
}

body {
    background-image: url(Images/sfondo.jpg);
    background-size:cover;
    margin: 0;
}