

h1{
    font-family: Trebuchet MS;
    font-weight: 500;
    color: rgb(255,204,0);
    font-size: 50px;
    text-align:center;
    margin-top: 7%;  
    font-style: oblique;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0.8%;
    overflow: hidden;
    background-color: rgba(0,0,102,0.15);
}

.other {float: right;}
.bar {float: right}
.events {float: left;}

.other a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    text-decoration: none;
    font-family: Trebuchet MS;
}
.bar a {
    display: block;
    color: rgb(255,204,0);
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    text-decoration: none;
    font-family: Trebuchet MS;
}

.events a {
    display: block;
    color: rgb(255,204,0);
    text-align: center;
    font-size: 18px;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Trebuchet MS;
}

#menu .events a:hover {color:white;}
#menu .other a:hover {color: white;}

#scelta {
    list-style-type: none;
    margin-top: 8%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
    
}

.report {float : left}
.search {float: right}

#scelta a {
    display: block;
    color: rgb(255,204,0);
    text-align: center;
    border-radius: 50px;
    font-size: 22px;
    padding: 10px 90px;
    text-decoration: none;
    font-family: Trebuchet MS;
    border: rgb(255,204,0) solid 3px;
    background-color: transparent
}
#condividi{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
   text-align: center;
    
}
#ricerca{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
   text-align: center;
    
}

#scelta a:hover {
    color: white;
    border-color: white;
}

body { 
    background-image: url( Images/party-wallpaper-2.jpg);
    background-size:cover;
    margin: 0;
}