
body { 
    background-image: url( Images/sfondo.jpg);
    background-size:cover;
    margin: 0;
}


.logoEvent{
   
    text-align: center;
    margin-top: 4%;
}


.box{
    
    
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: transparent;
    margin-left: 32%;
    margin-right: 32%;
   
    
    
}

.accedi h1{
    
    margin-left: 7%;
    color: white;
    font-family: Trebuchet MS;
    font-weight: 200;
    
    
}


.fieldEmail{
    
    text-align: center;
    margin-top: 1%;
}




.fieldEmail input{
    
    height: 44px;
    width: 80%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 1em;
}



.fieldPassword{
    
    text-align: center;
    margin-top: 2%; 
}

.fieldPassword input{
    
    height: 44px;
    width: 80%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 1em;
    
    
}

.rememberMe{
    
    text-align:left;
    margin-top: 1.5%;
    margin-left: 7%;
    color: white;
}


.accesso{
    
    text-align: center;
    margin-top: 4%; 
    
}

.accesso input{
    
    text-decoration: none;
    height: 44px;
    width: 84%;
    padding: 0px 10px;
    
    color: black;
    border: 2px solid lightgrey;
    font-family: Trebuchet MS;
    border-radius: 5px;
    background: lightgrey;
    font-weight: 600;
    font-size: 1em; 
    
}

.new{
    
    text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    margin-bottom: 14px;
    line-height: 0;
    color: white;
    font-family: Trebuchet MS;
   
    
    
}

.h5{
    
    line-height: 1;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
    z-index: 2;
    
}

.new :after{
    
    content: "";
    width: 30%;
    margin-left: 35%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    margin-top: 0px;
    z-index: 1;
    
}


.registration{
    
    text-align: center;
    margin-top: 7%;
    margin-bottom: 8%;
}

.registration a{
    
    height: 44px;
    width: 10%;
    color: black;
    background-color: lightgrey;
    text-decoration: none;
    padding: 10px 135px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 1em;
    font-weight: 600;
    font-family: Trebuchet MS;
}

.footer {
    
    text-align: right;
    color: white;
    font-size: 70%;
    bottom: 0;
    position: fixed;
    right: 0;
    
}