menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,102,0.15);
}

.other {float: right;}
.barra {float: right}
.event {float: left;}

.other a {
    display: block;
    color: rgb(255,204,0);
    text-align: center;
    padding: 27px 14px;
    font-size: 18px;
    text-decoration: none;
    font-family: Trebuchet MS, sans-serif;
}
.barra a {
    display: block;
    color: rgb(255,204,0);
    text-align: center;
    padding: 27px 12px;
    font-size: 18px;
    text-decoration: none;
    font-family: Trebuchet MS, sans-serif;
}

.event a {
    display: block;
    padding: 14px 16px;
}


#menu .other a:hover {color: white;}

#modify{
    font-size: 70px;
}